@font-face {
    font-family: tipografia;
    src: url(sansation_light.woff);
}

body {
    background-color: burlywood;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    font-family: tipografia;
}

header .logo img {
    height: 8em;
    width: auto;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
    margin-left: 100px;
}

nav ul li a:hover {
    color: #ffd700;
}

main {
    padding: 120px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    margin-top: -50px;
    margin-bottom: 60px;
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 100px;
    font-family: tipografia;
    font-size: 20px;
}

.item {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.item h2 {
    margin: 10px 0;
}

.item:hover {
    transform: translateY(-5px);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
